<main class="preview-page">
  <section class="cart">
    <h1>DETAILS</h1>
    <div class="order-summary">
      <ul class="order-summary-list">
        <li class="order-summary-list-list-item">
          <img src="/images/headphones.png" class="order-summary-list-list-item-image" alt="">
          <p class="order-summary-list-list-item-title">Headphones</p>
          <p class="order-summary-list-list-item-price">219.99</p>
        </li>
      </ul>
    </div>
    <div class="cart-footer">
    <span class="cart-footer-label">Total:</span>
    <span class="cart-footer-amount">11.99</span>
    <a href="/payment-form">
      <p class="button">Continue to payment</p>
    </a>
    </div>
  </section>
</main>
